// Layouts
$mainLayout: '.mainLayout';
$header: '.header';
$headerMenu: '.headerMenu';
$rightMenu: '.rightMenu';

// Components
$customCard: '.customCard';
$menuDropdown: '.menuDropdown';
$cardImageViewer: '.cardImageViewer';
$modal: '.modal';

//Modal
$loginModal: '.loginModal';
$signUpModal: '.signUpModal';

// Containers
$footer: '.footer';

// Pages
$login: '.login';
$home: '.home';
$property: '.property';
